<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>


    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="./style.css">


    </head>
    <body>
        
    <p style="text-align: center;">Shop Our Store!</p>
           

    



            <div class="card" style="width: 15rem;">
                <img src="../img/nylabone-chew.webp" class="card-img-top" alt="nylabone chew">
                <div class="card-body">
                  <h5 class="card-title">Nylabone Dog Chews</h5>
                  <p class="card-text">These longer-lasting, treats are good for dogs gum and oral health. Get yours today. </p>
                  <a href="#" class="btn btn-primary"> Add to Cart</a>
                </div>
              </div>


              <div class="card" style="width: 15rem;">
                <img src="../img/Therapy dog pouch.jpg" class="card-img-top" alt="pouch on dogs back">
                <div class="card-body">
                  <h5 class="card-title">Therapy Dog Pouch</h5>
                  <p class="card-text">This pouch easily holds your essentials.Get yours today!</p>
                  <a href="#" class="btn btn-primary">Add To Cart</a>
                </div>
              </div>


              <div class="card" style="width: 15rem;">
                <img src="../img/service dog tags.jpg" class="card-img-top" alt="therapy dog tags">
                <div class="card-body">
                  <h5 class="card-title">Therapy Dog Tags</h5>
                  <p class="card-text">Announce your pet's mission with our durable 'Service Dog'tags</p>
                  <a href="#" class="btn btn-primary">Add To Cart</a>
                </div>
              </div>


              <div class="card" style="width: 15rem;">
                <img src="../img/Leather belt and leash system.jpg" class="card-img-top" alt="belt/leash system with dog">
                <div class="card-body">
                  <h5 class="card-title">Leather belt and leash system</h5>
                  <p class="card-text">Stay connected with this durable leash system. Chew resistant and sturdy, it'll serve you both for years to come.  </p>
                  <a href="#" class="btn btn-primary">Add To Cart</a>
                </div>
              </div>


              <div class="card" style="width: 15rem;">
                <img src="../img/No pull dog halter leash.jpg" class="card-img-top" alt="dog wearing no-pull leash">
                <div class="card-body">
                  <h5 class="card-title">No-pull dog halter leash</h5>
                  <p class="card-text">Safely and gently lead your dogs with our no pull leash. Don't delay, get yours today!</p>
                  <a href="#" class="btn btn-primary">Add To Cart</a>
                </div>
              </div>


              <div class="card" style="width: 15rem;">
                <img src="../img/Wheelchair Hook.jpg" class="card-img-top" alt="wheelchair hook pic">
                <div class="card-body">
                  <h5 class="card-title">Wheelchair Hook </h5>
                  <p class="card-text">Always connect securely with our wheelchair hook. Compatible with any wheelchair model, just hook and go! </p>
                  <a href="#" class="btn btn-primary">Add To Cart</a>
                </div>
              </div>


             


              <div class="card" style="width: 15rem;">
                <img src="../img/pets and vet in arms.jpg" class="card-img-top" alt="vets with pets in arms">
                <div class="card-body">
                  <h5 class="card-title">Schedule Your Pets with our Vets</h5>
                  <p class="card-text">Book your vet visits with our locator. In-person or tele-health consultations. Schedule today!
                  <a href="#" class="btn btn-primary">Locate A Vet</a>
                </div>
              </div>


             










































    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/js/all.min.js" integrity="sha256-MAgcygDRahs+F/Nk5Vz387whB4kSK9NXlDN3w58LLq0=" crossorigin="anonymous"></script>
    
    <script src="./vendor/typed/typed.min.js"></script>
    
    <script src="./index.js"></script>


</body>
</html>